<% _.each(events, function(event){ %>
<div class="cal-row-fluid">
	<div class="cal-cell<%= event.days%> cal-offset<%= event.start_day %> day-highlight dh-<%= event['class'] %>" data-event-class="<%= event['class'] %>">
		<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>">
			<% if (event.title !== "") { %>
				<span style="background-color: aqua;"><%= event.title %></span><br>
			<% } %>
			<% if (event.title2 !== "") { %>
				<span style="background-color:cornflowerblue"><%= event.title2 %></span><br>
			<% } %>
			<% if (event.title3 !== "") { %>
				<span style="background-color:greenyellow"><%= event.title3 %></span><br>
			<% } %>
			<% if (event.title4 !== "") { %>
				<span style="background-color:darksalmon"><%= event.title4 %></span><br>
			<% } %>
		</a>
	</div>
</div>
<% }); %>
