<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="event-item">
				<% if (event.title !== "") { %>
					<span style="background-color: aqua;"><%= event.title %></span><br>
				<% } %>
				<% if (event.title2 !== "") { %>
					<span style="background-color:cornflowerblue"><%= event.title2 %></span><br>
				<% } %>
				<% if (event.title3 !== "") { %>
					<span style="background-color:greenyellow"><%= event.title3 %></span><br>
				<% } %>
				<% if (event.title4 !== "") { %>
					<span style="background-color:darksalmon"><%= event.title4 %></span><br>
				<% } %>
				<% if (event.title5 !== "") { %>
					<span style="background-color:rgb(228, 218, 77)"><%= event.title5 %></span><br>
				<% } %>
				<% if (event.title6 !== "") { %>
					<span style="background-color:rgb(220, 110, 235)"><%= event.title6 %></span><br>
				<% } %>
				<% if (event.title7 !== "") { %>
					<span style="background-color:rgb(47, 127, 138)"><%= event.title7 %></span><br>
				<% } %>
				<% if (event.title8 !== "") { %>
					<span style="background-color:rgb(231, 142, 169)"><%= event.title8 %></span><br>
				<% } %>
				<% if (event.title9 !== "") { %>
					<span style="background-color:rgb(69, 167, 77)"><%= event.title9 %></span><br>
				<% } %>
				<% if (event.title10 !== "") { %>
					<span style="background-color:rgb(196, 196, 224)"><%= event.title10 %></span><br>
				<% } %>
				<% if (event.title11 !== "") { %>
					<span style="background-color:rgb(245, 182, 182)"><%= event.title11 %></span>
				<% } %>
				<% if (event.title12 !== "") { %>
					<span style="background-color:rgb(95, 240, 95)"><%= event.title12 %></span>
				<% } %>
				<% if (event.title13 !== "") { %>
					<span style="background-color:rgb(98, 238, 243)"><%= event.title13 %></span>
				<% } %>
				<% if (event.title14 !== "") { %>
					<span style="background-color:rgb(240, 191, 102)"><%= event.title14 %></span>
				<% } %>
				</a>
			</li>
		<% }) %>
	</ul>
</div>
